* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #63084D;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #63084D;
}

body {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../IMG/fundo.png);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
  height: 70px;
  text-transform: uppercase;
  font-size: 0.6em;
}

header p {
  font-size: 2em;
  font-weight: bold;
}

header .logo-name img {
  margin-top: 10px;
  width: 60px;
}

header .logo-name {
  display: flex;
}

header .logo-name h1, header .port-menu {
  padding-top: 20px;
  padding-left: 20px;
}

header .logo-name a, header .port-menu a {
  color: #fff;
}

header .logo-name a:hover, header .port-menu a:hover {
  color: #63084D;
  transition-duration: 0.3s;
}

.msg {
  width: 170px;
  animation: digitando 2.5s steps(25), blink 0.4s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes digitando {
  from {
    width: 0px;
  }
}

@keyframes blink {
  60% {
    border-color: #63084D;
  }
}

section {
  margin: auto;
  padding: 50px 10px;
  max-width: 850px;
}

section p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}

.port h1 {
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5em;
}

.ano {
  position: sticky;
  top: 0;
  z-index: 1;
  color: #63084D;
  height: 55px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.56em;
  line-height: 2em;
  margin: 40px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../IMG/fundo.png);
}

/*Sites*/
.site {
  max-width: 600px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #212121;
}

.site h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.56em;
  line-height: 2em;
}

.site p {
  padding: 10px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}

.site h2:hover, .site p:hover {
  color: #A8A8A8;
}

.site a {
  color: #fff;
}

/*tecnologia*/
.tecnologia {
  display: flex;
  flex-wrap: wrap;
}

.tecnologia span {
  background-color: #63084D;
  border-radius: 5px;
  padding: 2px 6px;
  font-weight: lighter;
  margin: 5px 5px 5px 0px;
}

.redesocial {
  text-align: center;
  margin-bottom: 20px;
}

.redesocial a {
  margin: 0px 10px;
}

.redesocial i {
  color: #63084D;
  font-size: 30px;
  transition-duration: 0.3s;
}

.redesocial #gmail i:hover {
  color: #c71610;
}

.redesocial #linkedin i:hover {
  color: #0e76a8;
}

.redesocial #github i:hover {
  color: #fff;
}

.redesocial #whatsapp i:hover {
  color: #25D366;
}

.redesocial #instagram i:hover {
  color: #F56040;
}
