* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../IMG/Galaxia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
  height: 70px;
  text-transform: uppercase;
  font-size: 0.6em;
}

header p {
  font-size: 2em;
  font-weight: bold;
}

header .logo-name img {
  margin-top: 10px;
  width: 60px;
}

header .logo-name {
  display: flex;
}

header .logo-name h1, header .port-menu {
  padding-top: 20px;
  padding-left: 20px;
}

header .logo-name a, header .port-menu a {
  color: #fff;
}

header .logo-name a:hover, header .port-menu a:hover {
  color: #63084D;
  transition-duration: 0.3s;
}

.redesocial {
  text-align: center;
  margin-bottom: 20px;
}

.redesocial a {
  margin: 0px 10px;
}

.redesocial i {
  color: #63084D;
  font-size: 30px;
  transition-duration: 0.3s;
}

.redesocial #gmail i:hover {
  color: #c71610;
}

.redesocial #linkedin i:hover {
  color: #0e76a8;
}

.redesocial #github i:hover {
  color: #fff;
}

.redesocial #whatsapp i:hover {
  color: #25D366;
}

.redesocial #instagram i:hover {
  color: #F56040;
}
