/* 
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,200&family=Raleway:wght@300&display=swap');
*/

/*
@font-face {
  font-family: 'Raleway-light';
  src: url(../fonts/Raleway-Light.ttf);
  font-display: block;
}

body {
  background-color: #070707;
  font-family: 'Raleway-light', sans-serif;
}
*/

@font-face {
  font-family: 'Raleway-light';
  src: url(../fonts/Raleway-Light.ttf);
  font-display: block;
}

body {
  background-color: #070707;
  font-family: 'Raleway-light', sans-serif;
}

/* barra de navegação personalizada */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #f49867, #63084d);
}

::-webkit-scrollbar-thumb {
  background-color: #070707;
  border: 1px solid #63084d;
}

/*botão para o topo*/
#btnTopo {
  display: none;
  position: fixed;
  color: white;
  background-color: #63084d;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnTopo:hover {
  background-color: #f49867;
  transition: 0.5s;
}

/* textos personalizados */
.text-orange {
  color: #f49867;
}

.text-purple {
  color: #5912ab;
}

/* background personalizados */
.bg-violet {
  background-color: #2f0425;
}

.bg-smoky {
  background-color: #070707;
}

.bg-degrade {
  background-image: linear-gradient(to bottom, #2f0425, #070707);
}

/* bordas personalizados */
.border-orange {
  border: 2px solid #f49867;
  border-radius: 20px;
}

.border-violet {
  border: 2px solid #2f0425;
}

/* Bordas usada no footer */
.border-gradient {
  margin: auto;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #f49867, #5912ab);
  border-image-slice: 1;
}

/* degrade dos textos */
.degrade-primary {
  background-image: linear-gradient(to right, #f49867, #5912ab);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade-secondary {
  background-image: linear-gradient(#f49867, #63084d);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Efeito de risco em na página home */
.risco:before {
  width: 120px;
  height: 8px;
  content: "";
  background-image: linear-gradient(to right, #f49867, #5912ab);
  display: block;
  margin-bottom: 4px;
}

/* box-shadow do arquivo portfolio/blog */
.sombra {
  box-shadow: 0px 0px 8px 2px #63084cbe;
  transition: 0.2s;
}

/* video de fundo da página de contato */
#bg-quote-video {
  position: relative;
  overflow: hidden;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

/* video de fundo da parte entre em contato 
#bg-porfolio-video {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#video-bg-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/

/* teste 
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
*/

/* codigo do blog markdown e meu nome constando... */
pre {
  background-color: #101010;
  border: 1px solid #63084d;
  color: #ffffff;
  page-break-inside: avoid;
  overflow: auto;
  padding-top: 1em;
  padding-right: 1em;
  text-align: left;
}

/* conteúdo do blog */
.caixa {
  max-width: 1000px;
  margin: auto;
}

/* botão voltar ao blog */
.btn-blog {
  background-color: #2f0425;
}

.btn-blog:hover {
  background-color: #f49867;
}

/* particulas */
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -2;
}

.link-orange {
  color: #f49867;
}

.link-orange:hover {
  color: #f17837;
  transition: 0.2s;
}

/* ini: Preloader */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #63084d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 4px;
}

.pace .pace-progress-inner {
	display: block;
	position: absolute;
	right: 0px;
	width: 100px;
	height: 100%;
	box-shadow: 0 0 10px #63084d, 0 0 5px #63084d;
	opacity: 1.0;
	-webkit-transform: rotate(3deg) translate(0px, -4px);
	-moz-transform: rotate(3deg) translate(0px, -4px);
	-ms-transform: rotate(3deg) translate(0px, -4px);
	-o-transform: rotate(3deg) translate(0px, -4px);
	transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 4px;
	right: 4px;
	width: 14px;
	height: 14px;
	border: solid 4px transparent;
	border-top-color: #63084d;
	border-left-color: #63084d;
	border-radius: 10px;
	-webkit-animation: pace-spinner 400ms linear infinite;
	-moz-animation: pace-spinner 400ms linear infinite;
	-ms-animation: pace-spinner 400ms linear infinite;
	-o-animation: pace-spinner 400ms linear infinite;
	animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
	0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
	0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
	0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
	0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
	0% { transform: rotate(0deg); transform: rotate(0deg); }
	100% { transform: rotate(360deg); transform: rotate(360deg); }
}
/* end: Preloader */