body {
  background-color: #ebf467;
}

/* barra de navegação personalizada */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #F49867, #63084d);
}

body::-webkit-scrollbar-thumb {
  background-color: #070707;
  border: 1px solid #63084d;
}

/* textos personalizados */
.text-orange {
  color: #F49867;
}

.text-purple {
  color: #5912AB;
}

/* background personalizados */
.bg-violet {
  background-color: #2F0425;
}

.bg-smoky {
  background-color: #070707;
}

.bg-degrade {
  background-image: linear-gradient(to bottom,  #2F0425, #070707);
}

/* bordas personalizados */
.border-orange {
  border: 2px solid #F49867;
  border-radius: 20px
}

.border-violet {
  border: 2px solid #2F0425;
}

/* degrade dos textos */
.degrade-primary {
  background-image: linear-gradient(to right, #F49867, #5912AB);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade-secondary {
  background-image: linear-gradient(#F49867, #63084d);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}







/* ano fixo do arquivo portfolio.html */
.ano {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 54px;
  margin: 40px 0px;
  background-color: #070707;
}

.font-ano {
  font-size: 2.4em;
}

/* cores do titulo e texto dos projetos realizado do arquivo portfolio.html */
.site a {
  color: #ffffff;
  text-decoration: none;
}

.site h2:hover,
.site p:hover {
  color: #bcbcbc;
}




.border-gradient {
  margin: auto;
  border: 1px solid transparent; /* Torna a borda transparente para que o gradiente seja visível */
  border-image: linear-gradient(to right, #F49867, #5912AB); /* Gradiente da esquerda para a direita de vermelho para azul */
  border-image-slice: 1; /* Define a largura da fatia do gradiente */
}








/* box-shadow do arquivo blog.html */
.sombra:hover {
  box-shadow: 0px 0px 8px 2px #63084cbe;
  transition: 0.2s;
}

/* video de fundo da parte entre em contato */
#bg-quote-video {
  position: relative;
  overflow: hidden;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}




/* footer do site */
.redesocial a {
  text-decoration: none;
  margin-right: 20px;
}

.redesocial #youtube {
  margin-right: 0px;
}

.redesocial i {
  color: rgb(255, 255, 255);
  font-size: 40px;
  transition-duration: 0.3s;
}

.redesocial #gmail i:hover {
  color: #c71610;
}

.redesocial #linkedin i:hover {
  color: #0e76a8;
}

.redesocial #github i:hover {
  color: #fff;
}

.redesocial #whatsapp i:hover {
  color: #25d366;
}

.redesocial #instagram i:hover {
  color: #f56040;
}

.redesocial #youtube i:hover {
  color: #c4302b;
}

/* 
    codigo do blog verificar
*/
pre {
  background-color: #101010;
  border: 1px solid #63084d;
  color: #ffffff;
  page-break-inside: avoid;
  overflow: auto;
  padding-top: 1em;
  padding-right: 1em;
  text-align: left;
}

.caixa {
  max-width: 1000px;
  margin: auto;
}

.btn-blog {
  background-color: #2F0425;
}

.btn-blog:hover {
  background-color: #F49867;
}

/* particulas */
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -2;
}




/* formulario contato verificar */

input,
textarea {
  width: 100%;
  padding: 1.25rem;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #63084d;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

.success,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success {
  color: #63084d;
  text-align: center;
}

.error {
  color: #c71610;
}









.link-hover {
  color: #ffffff;
  text-decoration: none;
}

.link-hover:hover {
  color: #F49867;
}






/* foto de fundo da pagina contato.html */
#bg-leo {
  background-image: url(../img/home/fundo.svg);
  background-position: center top;
  background-size: cover;
}