/* barra de navegação personalizada */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #63084D;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #63084D;
}

/* degrade dos textos */
.degrade {
  background-image: linear-gradient(to bottom, #ff0077, #692c7e);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade1 {
  background-image: linear-gradient(#fcb045, #63084D);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Texto em movimento em jóse Leonardo na home */
.tracking-in-expand {
	animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ano fixo do arquivo portfolio.html */
.ano {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 54px;
  margin: 40px 0px;
  background-color: #070707;
}

.font-ano {
  font-size: 2.4em;
}

/* cores do titulo e texto dos projetos realizado do arquivo portfolio.html */
.site a {
  color: #ffffff;
  text-decoration: none;
}

.site h2:hover,
.site p:hover {
  color: #bcbcbc;
}

/* dropdown do arquivo portfolio.html */
.dropdown-divider {
  margin-top: 20px;
  border-top: 1px solid #424141;
}

/* box-shadow do arquivo blog.html */
.sombra:hover {
  box-shadow: 0px 0px 8px 2px #63084cbe;
  transition: 0.2s;
}

/* texto digitando do arquivo "contato.html" */
.msg {
  width: 146px;
  animation: digitando 2.0s steps(25), blink 0.5s infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
}

@keyframes digitando {
  from {
    width: 0px;
  }
}

@keyframes blink {
  50% {
    border-color: #63084D;
  }
}

/* footer do site */
.redesocial a {
  text-decoration: none;
  margin-right: 20px;
}

.redesocial #whatsapp {
  margin-right: 0px;
}

.redesocial i {
  color: #63084D;
  font-size: 40px;
  transition-duration: 0.3s;
}

.redesocial #gmail i:hover {
  color: #c71610;
}

.redesocial #linkedin i:hover {
  color: #0e76a8;
}

.redesocial #github i:hover {
  color: #fff;
}

.redesocial #whatsapp i:hover {
  color: #25D366;
}

/* foto de fundo da pagina contato.html */
#bg-quote {
  background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .8)), url(../img/coding.svg);
  background-position: center center;
  background-size: cover;
}

pre {
  background-color: #101010;
  border: 1px solid #63084D;
  color: #ffffff;
  page-break-inside: avoid;
  overflow: auto;
  padding-top: 1em;
  padding-right: 1em;
  text-align: left;
}

.caixa {
  max-width: 1000px;
  margin: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: white;

}

::-webkit-scrollbar-thumb {
  background-color: #63084D;
}

/* borda da página cv */
.border-sm {
  border: 4px solid;
}

/* particulas */
#particles-js {
  position: fixed;
  margin-top: 90px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -2;
}