@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
  background-color: #070707;
  font-family: "Raleway", sans-serif;
}

/* barra de navegação personalizada */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #f49867, #63084d);
}

body::-webkit-scrollbar-thumb {
  background-color: #070707;
  border: 1px solid #63084d;
}

/* textos personalizados */
.text-orange {
  color: #f49867;
}

.text-purple {
  color: #5912ab;
}

/* background personalizados */
.bg-violet {
  background-color: #2f0425;
}

.bg-smoky {
  background-color: #070707;
}

.bg-degrade {
  background-image: linear-gradient(to bottom, #2f0425, #070707);
}

/* bordas personalizados */
.border-orange {
  border: 2px solid #f49867;
  border-radius: 20px;
}

.border-violet {
  border: 2px solid #2f0425;
}

/* Bordas usada no footer */
.border-gradient {
  margin: auto;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #f49867, #5912ab);
  border-image-slice: 1;
}

/* degrade dos textos */
.degrade-primary {
  background-image: linear-gradient(to right, #f49867, #5912ab);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade-secondary {
  background-image: linear-gradient(#f49867, #63084d);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Efeito de risco em na página home */
.risco:before {
  width: 120px;
  height: 8px;
  content: "";
  background-image: linear-gradient(to right, #f49867, #5912ab);
  display: block;
  margin-bottom: 4px;
}

/* ano fixo do arquivo portfolio.html */
.ano {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 54px;
  margin: 40px 0px;
  background-color: #070707;
}

.font-ano {
  font-size: 2.4em;
}

/* cores do titulo e texto dos projetos realizado do arquivo portfolio.html */
.site a {
  color: #ffffff;
  text-decoration: none;
}

.site h2:hover,
.site p:hover {
  color: #bcbcbc;
}

/* box-shadow do arquivo blog.html */
.sombra:hover {
  box-shadow: 0px 0px 8px 2px #63084cbe;
  transition: 0.2s;
}

/* video de fundo da página de contato */
#bg-quote-video {
  position: relative;
  overflow: hidden;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
}

/* codigo do blog markdown e meu nome constando... */
pre {
  background-color: #101010;
  border: 1px solid #63084d;
  color: #ffffff;
  page-break-inside: avoid;
  overflow: auto;
  padding-top: 1em;
  padding-right: 1em;
  text-align: left;
}

/* conteúdo do blog */
.caixa {
  max-width: 1000px;
  margin: auto;
}

/* botão voltar ao blog */
.btn-blog {
  background-color: #2f0425;
}

.btn-blog:hover {
  background-color: #f49867;
}

/* particulas */
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  z-index: -2;
}

/* Media query */
/* Media query para telas menores, como smartphones */
@media screen and (max-width: 767px) {
  #fundo-body {
    background-image: url(../img/home/blue-mobile.svg);
    background-position: center top;
    background-size: cover;
  }

  p {
    text-align: center;
    font-size: 1rem;
  }

  h1 {
    text-align: center;
    font-size: 2.4em;
    font-weight: bold;
  }

  h2 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
  }

  h3 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }

  .btn-degrade {
    margin: auto;
    display: block;
  }
  
  .risco:before {
    display: none;
  }
}

/* Media query para tablets e telas médias */
@media screen and (min-width: 768px) and (max-width: 991px) {
  #fundo-body {
    background-image: url(../img/home/orange-tablet.svg);
    background-position: center top;
    background-size: cover;
  }

  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2.8em;
    font-weight: bold;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: bold;
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
}

/* Media query para telas maiores, como desktops */
@media screen and (min-width: 992px) {
  #fundo-body {
    background-image: url(../img/home/violet-desktop.svg);
    background-position: center top;
    background-size: cover;
  }
  p {
    font-size: 1.2rem;
  }
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  h3 {
    font-size: 2.2rem;
    font-weight: bold;
  }
}




.link-hover {
  color: #ffffff;
  text-decoration: none;
}

.link-hover:hover {
  color: #f49867;
}

/* foto de fundo da pagina contato.html */
#bg-leo {
  background-image: url(../img/home/fundo.svg);
  background-position: center top;
  background-size: cover;
}

.btn-degrade {
  background-image: linear-gradient(to right, #f49867, #5912ab);
  border: none;
}

.btn-degrade:hover {
  background-image: linear-gradient(to right, #5912ab, #f49867);
}
