body::-webkit-scrollbar {
    width: 12px;
}

    body::-webkit-scrollbar-track {
        background: $roxo;
    }

    body::-webkit-scrollbar-thumb {
        background-color: $branco;
        border-radius: 10px;
        border: 2px solid $roxo;
    }