body {
    background-color: $preto;
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)) , url(../IMG/Galaxia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: $branco;
    font-family: $font-padrao;
}