//texto digitando portfólio
.msg { 
    width: 170px;
    animation: digitando 2.5s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes digitando {
    from {
        width: 0px;
    }
}

@keyframes blink {   
    60% {
        border-color: $roxo;
    }
}

//section
section {
    margin: auto;
    padding: 50px 10px;
    max-width: 850px;
}

section p {
    @include type-1(pequena);
}

.port h1 {
    color: $branco;
    @include type-1 (grande);
}

.ano {
    position: sticky;
    top: 0;
    z-index: 1;
    color: $roxo;
    height: 55px;
    @include type-1(media);
    margin: 40px 0px;
    background-image:linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)), url(../img/fundo.png);
}

/*Sites*/
.site {
    max-width: 600px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(33, 33, 33);
}
.site h2 {
    @include type-1(media);
}

.site p {
    padding: 10px 0px;
    @include type-1(pequena)
}

.site h2:hover, .site p:hover {
    color: $cinza;
}

.site a {
    color: $branco;
}

/*tecnologia*/
.tecnologia {
    display: flex;
    flex-wrap: wrap;
}

.tecnologia span {
    background-color: $roxo;
    border-radius: 5px;
    padding: 2px 6px;
    font-weight: lighter;
    margin: 5px 5px 5px 0px;
} 